@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #F6F7F8;
}
/* Sidebar.css */

.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 50%;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #0b3b4d;
}

.sidebar {
  scrollbar-color: #072635 #f1f1f1;
  scrollbar-width: thin;
}
